html{

    background-color: #7CFC00;

    }

h1{
   
  text-align: center;


  }   

li{
	margin: 0px;
    justify-content: center;
    width: 39px;
    height: 39px;
    display: inline-flex;
    border: solid;
    align-items: center;
    align-items: center;
    border: 1px solid red;
   }

ul{

   padding: 0px;
}






































































































